.navbar {
    background-image: linear-gradient(rgb(245, 245, 187), rgb(200, 247, 200));
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    /* margin-top: -90px;
    margin-left: 0px; */
    box-shadow: 0 2px 8px 10px rgb(81, 80, 80, 0.2);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; */
}

.menu-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    color: cadetblue;
    align-items: center;
    width: 250px;
    height: 30px;
    text-shadow: 5px 5px 10px cadetblue;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Josefin Sans', sans-serif;
    transition: color .3s;
    padding: 4px;
}

.feedback:hover, .reports:hover, .franchise:hover {
    color: #88aa;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    color: #777;
    align-items: center;
    height: 1rem;
    left: 1600px;
    cursor: pointer;
    transition: transform 1s; 
}

.icon {
    margin-right: 10px;
}

.icon:hover {
    transform: scale(1.2,1.2);
}