.nav-logo {
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 40px;
    box-shadow: 0 0px 8px 10px rgba(209, 207, 207, 0.1);
}

.logo {
    position: absolute;
    width: 30px;
    height: 40px;
    top: 30px;
    left: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.logo-header {
    position: absolute;
    top: 30px;
    left: 65px;
    font-size: 15px;
    font-stretch: semi-condensed;
    font-weight: bold;
    font-style: oblique;
    color: rgb(67, 98, 18);
    /* text-shadow: 3px 3px 10px #777; */
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.navigation-search {
    margin-left: 500px;
}

.navigation-search-input {
    width: 800px;
    padding: 8px 10px;
    background-image: linear-gradient(rgb(245, 245, 187), rgb(200, 247, 200));
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    color: rgb(67, 98, 18);
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    position: absolute;
}

.navigation-search-input:focus {
    background-color: rgb(250, 248, 248);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #9a9897;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    margin-left: 784px;
    margin-top: 6px;
    cursor: pointer;
}

.profile {
    position: absolute;
    left: 1703px;
    top:80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bold;
    color: rgb(51, 66, 66);
    text-shadow: 2px 2px 10px #777;
    cursor: pointer;
}

.profile-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 2rem;
    left: 1705px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 4rem;
}

.dropdown-content {
    background-image: linear-gradient(rgb(245, 245, 187,0.8), rgb(200, 247, 200,0.5));
    display: none;
    position: absolute;
    /* background-color: #f3ebf6; */
    min-width: 184px;
    min-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 530px;
    top: 65px;
    border-radius: 4px;
}

.dropdown-btn {
    background-image: linear-gradient(rgb(245, 245, 187), rgb(200, 247, 200));
    display: block;
    position: absolute;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    left: 530px;
    top: 40px;
    color: cadetblue;
    background-color: #ede0f3;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: rgb(236, 237, 168);
}

.get-all-categories {
    display: block;
    position: absolute;
    flex-direction: column;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
}

.dropdown-btn-prod {
    background-image: linear-gradient(rgb(245, 245, 187), rgb(200, 247, 200));
    display: block;
    position: absolute;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    left: 1048px;
    top: 40px;
    color: cadetblue;
    background-color: #ede0f3;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content-prod {
    background-image: linear-gradient(rgb(245, 245, 187,0.8), rgb(200, 247, 200,0.5));
    display: none;
    position: absolute;
    /* background-color: #ede0f3; */
    min-width: 167px;
    min-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1050px;
    top: 65px;
    border-radius: 4px;
}

.dropdown-content-prod a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown:hover .dropdown-content-prod{
    display: block;
}

.dropdown-content-prod a:hover {
    background-color: rgb(236, 237, 168);
}

.dropdown-btn:hover, .dropdown-btn:focus, .dropdown-btn-prod:hover, .dropdown-btn-prod:focus {
    background-color: #ede0f3;
    color: rgb(125, 124, 121);
}

.category-icon {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    left: 500px;
    top: -60px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #777;
}

.product-icon {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    left: 1010px;
    top: -60px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #777;
}

.display-items {
    alt:"left-arrow";
    height:"15px";
    width:"15px";
    cursor: pointer;
}
